body {
  --bg: rgb(228, 194, 161);
  --border-bg: rgb(233, 225, 178);
  --main-bg: #e9eee4;
  --article-bg: #d0dfc2;
  margin: 2px;
}
/* Part1 Headline */
.headlines {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.headlines > div {
  flex: 1;
  padding: 1rem;
  background: linear-gradient(var(--bg), antiquewhite);
  border: 0.3rem solid var(--border-bg);
  border-radius: 1rem;
}
.headlines > div > h2 {
  text-shadow: 3px 3px 5px papayawhip;
}

/* Part2 Articles */
/* maybe we don't need media query anymore, we can imply auto-fit from css grid */
.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 0.8em;
  grid-auto-flow: dense;
}

/* maybe i can simplify the media, we can imply grid-column: span n */
/* Make it each article height properly, not exactly each article */
.main article {
  background: var(--article-bg);
  opacity: 0.7;
  width: 100%;
  text-align: center;
  text-indent: 1rem;
  border-radius: 1rem;
}
p {
  margin: 0;
  padding: 0 0 5px 5px;
  height: auto;
}
.main {
  background: var(--main-bg) url(https://source.unsplash.com/random);
  background-size: cover;
}

/* Part3 link to song page */
.writeSong {
  background: linear-gradient(var(--bg), antiquewhite);
  display: flex;
  justify-content: space-between;
}
.writeSong > button {
  background-color: var(--bg);
  /* outline: none; */
  border-radius: 1em;
  border-style: inset;
  border-width: 4px 1.5em;
}
.writeSong > h2 {
  text-shadow: 1px 1px 2px rgb(83, 74, 61);
}
