body {
  margin: 2px;
}

/* For 27inc iMac */
@media screen and (max-width: 2600px) {
  .main {
    display: grid;
    grid-template-columns: repeat(10, 9.9%);
    grid-column-gap: 1px;
    grid-row-gap: 2px;
  }
}
@media screen and (max-width: 1300px) {
  .main {
    display: grid;
    grid-template-columns: repeat(4, 24.9%);
    grid-column-gap: 1px;
    grid-row-gap: 2px;
  }
}
@media screen and (max-width: 665px) {
  .main {
    display: grid;
    grid-template-columns: repeat(2, 49.9%);
    grid-column-gap: 1px;
    grid-row-gap: 2px;
  }
}
/* For iphone XS */
/* TODO not work on XS */
@media screen and (max-width: 250px) {
  .main {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-row-gap: 2px;
  }
}

/* TODO maybe i can simplify the media */

/* Make it each article height properly */
.main article {
  background: #d1d6cd;
  opacity: 0.6;
  width: 100%;
}
p {
  margin: 0;
  padding: 0 0 5px 5px;
  height: auto;
}
.main {
  background: #e9eee4 url(https://source.unsplash.com/random);
  background-size: cover;
}
.writeSong {
  display: flex;
}
.writeSong > button {
  background-color: deeppink;
}
