.pic {
  display: flex;
  justify-content: space-around;
  /* background: url('./headshot.jpg');
    background-position: center center;
    background-repeat: no-repeat; */
}
.pic img {
  width: 50%;
  filter: opacity(0.7) brightness(72%) saturate(0.8);
}
.lines {
  display: flex;
  justify-content: center;
}
.lines textarea {
  margin: 1em;
  width: 80%;
  height: 180px;
  font-size: xx-large;
  font-style: italic;
  font-weight: bolder;
  border: rgb(89 95 94) solid 0.1em;
  border-radius: 0 6.5em;
  color: teal;
  text-align: center;
  text-transform: uppercase;
  /* TODO number of words */
}
